@model Comic

<h1>Borrar comic</h1>

<h2 class="text-danger text-center">@ViewData["MENSAJE"]</h2>

@if (Model != null)
{
    <form method="post">
        <h3 class="text-danger text-center">¿Seguro que quieres borrar el comic @Model.Nombre (con ID @Model.IdComic)?</h3>
        <div class="row mt-3">
            <div class="col-6">
                <button class="btn btn-danger w-100" name="id" value="@Model.IdComic">Si, borrar</button>
            </div>
            <div class="col-6">
                <a asp-controller="Comics" asp-action="Index" class="btn btn-secondary w-100">No, cancelar</a>
            </div>
        </div>
    </form>
}
