@model List<Comic>

<h1>Comics SQL y Oracle</h1>
<a asp-controller="Comics" asp-action="Create" class="btn btn-success w-100 mt-4">Crear nuevo comic</a>
<a asp-controller="Comics" asp-action="Buscador" class="btn btn-info w-100 my-4">Buscador comics</a>

<div class="row">
    @foreach (Comic comic in Model)
    {
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="@comic.Imagen" />
                <div class="card-body">
                    <h5 class="card-title">@comic.Nombre</h5>
                    <p class="card-text">@comic.Descripcion</p>
                    <a asp-controller="Comics" asp-action="Delete" asp-route-id="@comic.IdComic"
                       class="btn btn-danger w-100 mt-3">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
